:root {
    --random_bg: url(../../assets/p.png)
}

.home {
    background-image: var(--first-gradient);
    padding-bottom: 60px;
}

.home_wrapper {
    min-height: 100vh;
    display: grid;
    align-items: center;
}

.home_scroll-up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: .5s var(--transition);
    color: var(--title-color);
    font-size: var(--h4-font-size);
    z-index: 11;
}


.home_scroll-up:hover {
    transform: scale(1.2);
}

.home_wrapper,
.home_container,
.home {
    position: relative;
}

.home_container {
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home_subtitle,
.home_job {
    font-weight: 700;
}

.home_subtitle,
.home_job span{
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.home_subtitle span,
.home_title span {
    color: var(--primary-color);
}

.home_job b {
    font-family: var(--font-2);
    font-size: var(--h2-font-size);
    margin-left: 10px;
}

.home_title {
    color: #fff;
    font-size: var(--h1-font-size);
    text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%), 2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%), 5px 5px 0 rgb(0 0 0 / 20%);
    line-height: 1.2;
    margin-top: 15px;
}

.home_text {
    font-size: var(--large-font-size);
    max-width: 520px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 20px;
}

.home_socials {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}

.home_social-link {
    color: var(--title-color);
    font-size: var(--h5-font-size);
    transition: all 0.7s var(--transition);
}

.home_social-link:hover {
    color: var(--primary-color);
}

.home_btns {
    display: flex;
    column-gap: 70px;
}

.hero_link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -97%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--border-color);
}

.home_profile {
    position: absolute;
    bottom: 0;
    height: 550px;
    border-radius: 500px;
    object-fit: cover;
}

.shape_1 {
    width: 226px;
    height: 226px;
    top: -10%;
    right: 3%;
}

.shape_2,
.shape_3 {
    width: 121px;
    height: 101px;
}

.shape_2 {
    bottom: 10%;
    left: -35%;
}

.shape_3 {
    bottom: 0%;
    right: -20%;
}

.hero_link {
    cursor: pointer;
}

.skills_n {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skills_nimg {
    width: 20px;
    height: 20px;
}


/* SVG image styles */

.blob-wobble {
    width: 150px;
    height: 130px;
    background: var(--random_bg);
    background-position: center center;
    background-size: cover;
    border-radius: 41% 59% 31% 69% / 51% 72% 28% 49%  ;
    animation: wobble 10s ease-in-out alternate infinite;
    box-shadow: 2px 14px 28px -10px rgba(0,0,0,0.7);
    z-index: 2;
    margin-top: 20px;
}
  
  
@keyframes wobble {
    
      25% {
      border-radius: 41% 59% 74% 26% / 51% 31% 69% 49% ;
    }
    
    50% {
      border-radius: 23% 77% 73% 27% / 14% 21% 79% 86%  ;
    }
    
    100% {
      border-radius: 75% 25% 75% 25% / 45% 26% 74% 55%  ;
    }
}
  